.skin_perka a.button.has_border {
  text-shadow: 0 1px 0 white, 0 -0.5px 0 black;
  background:url(./images/bg_button.png) 0 0 repeat-x;
  border-color:#757575;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.skin_perka a.link {
  color:#222;
}

.skin_perka a.button:hover {
  background-position:0 -50px;
}

.skin_perka a.button:active {
  background-position:0 -100px;
}

.skin_perka a.checkbox {
  background:url(./images/checkbox.png) transparent 0 2px no-repeat;
  border:none;
  height:28px;
}

.skin_perka a.checkbox .checkmark,
.skin_perka a.checkbox:hover .checkmark {
  border:none;
  background-color:transparent;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

.skin_perka a.checkbox .checkmark_fill {
  background:url(./images/checkbox.png) transparent 0 -112px no-repeat;
  top:-3px;
  left:0;
  width:28px;
  height:28px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.skin_perka a.checkbox .label {
  line-height:32px;
  padding-left:20px;
}

.skin_perka a.checkbox:hover {
  background-position:0 -26px;
}

.skin_perka a.checkbox:active {
  background-position:0 -54px;
}

.skin_perka .radio_group .choice {
  background:url(./images/radio.png) transparent 0 2px no-repeat;
  height:28px;
}

.skin_perka .radio_group .choice.selected {
  background-position:0 -82px;
}

.skin_perka .radio_group .choice:hover {
  background-position:0 -26px;
}

.skin_perka .radio_group .choice.selected:hover {
  background-position:0 -82px;
}

.skin_perka .radio_group .choice:active {
  background-position:0 -54px;
}

.skin_perka .radio_group .mark {
  background-color:transparent;
  border:none;
  visibility:hidden;
}

.skin_perka .radio_group .label {
  line-height:34px;
}

.skin_perka .pulldown .label {
  background:url(./images/pulldown_arrow.png) transparent 100% -5px no-repeat;
  padding-right:40px;
}

.skin_perka ::-webkit-input-placeholder {
  font-style:italic;
}

.skin_perka :-moz-placeholder {
  font-style:italic;
}

.skin_perka .calendar {
  -moz-box-shadow: 0 0 6px 0 #444;
  -webkit-box-shadow: 0 0 6px 0 #444;
  box-shadow: 0 0 6px 0 #444;
}

.skin_perka .text_field,
.skin_perka .text_area,
.menu .menu_scroller,
.menu li a {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.skin_perka .scroller .tray {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}

.skin_perka .scroller .knob_top {
  border-top-left-radius: 8px;
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  border-top-right-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topright: 8px;
}

.skin_perka .knob_bottom {
  border-bottom-left-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
}

.skin_perka .tab_set .tab {
  border-top-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

.skin_perka .tab_set .content_container {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.skin_perka ul.errors {
  list-style-type: disc;
  margin-left:20px;
}

.skin_perka .errors li {
  color:#DA4125;
  line-height: 20px;
  font-style: normal;
  margin-bottom:10px;
}

.skin_perka .text_field.error, .skin_perka .text_area.error,
.skin_perka .pulldown.error a.pulldown_button {
  border-color:#DA4125;
  box-shadow:0 0 8px #DA4125;
}

.skin_perka a.checkbox .label {
  padding-left:15px;
}

.skin_perka a.checkbox.error {
  background-position: 0 -140px;
}

.skin_perka .radio_group li {
  margin:0 10px 0 0;
}
.skin_perka .radio_group .choice {
  width:30px;
}
.skin_perka .radio_group.error a.choice {
  background-position: 0 -113px;
}
