/* button - default */
.skin_perka .button {
  font-size:16px;
  font-family:freight-sans-pro,sans-serif;
  font-weight:400;
  color:#333;
  vertical-align:middle;
  background-color:#fff;
  border:1px solid #c1c1c1;
  line-height:20px;
  display: inline-block;
  padding:7px 12px;
  border-radius:4px;
  margin:0;
  text-decoration:none;
  cursor:pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-top-color:#ebebeb;
  border-bottom-color:#989898; 
}

.skin_perka .button.disabled,
.skin_perka .button.disabled:hover {
  color:#fff;
  border-color:#cbcbcb;
  background-color:#cbcbcb;
}

.skin_perka .button.active,
.skin_perka .button:active,
.skin_perka .button:active:hover,
.skin_perka .button.active:hover,
.skin_perka .button:link,
.skin_perka .button:visited {
  background-color:#e0e0e0;
  border-bottom-color:#ebebeb;
}

/* button - sizes */
.skin_perka .button.large {
  font-size:19px;
  padding:6px 12px;
  line-height:28px;
  border-radius:5px;
}

.skin_perka .button.small {
  font-size:12px;
  line-height:20px;
  text-transform:uppercase;
  font-weight:600;
  border-radius:4px;
  padding:5px 10px;
}

.skin_perka .button.small.with_glyph {
  padding-left:6px;
}

/* button - colors */
.skin_perka .button.orange {
  background-color:#cf5200;
  color:#fff;
  border-color:#945031;
  border-top-color:#cf5200;
  border-bottom-color:#712E07; 
}

.skin_perka .button.orange:hover {
  background-color:#d3672b;
}

.skin_perka .button.orange.active,
.skin_perka .button.orange:active,
.skin_perka .button.orange:active:hover,
.skin_perka .button.orange.active:hover {
  background-color:#b44814;
  border-bottom-color:#cf5200; 
} 

.skin_perka .button.blue {
  background-color:#369f9f;
  color:#fff;
  border-color:#3c8e8e;
  border-top-color:#369f9f;
  border-bottom-color:#007171; 
}

.skin_perka .button.blue:hover {
  background-color:#2baca7;
}

.skin_perka .button.blue.active,
.skin_perka .button.blue:active,
.skin_perka .button.blue:active:hover,
.skin_perka .button.blue.active:hover {
  background-color:#148d88;
  border-bottom-color:#369f9f; 
} 

.skin_perka .button.green {
  background-color:#9ac400;
  color:#fff;
  border-color:#96b247;
  border-top-color:#9ac400;
  border-bottom-color:#7f9e2a; 
}

.skin_perka .button.green:hover {
  background-color:#a7c934;
}

.skin_perka .button.green.active,
.skin_perka .button.green:active,
.skin_perka .button.green:active:hover,
.skin_perka .button.green.active:hover {
  background-color:#88aa20;
  border-bottom-color:#9ac400; 
} 

.skin_perka .light_blue {
  background-color:#d6f2f3;
  color:#033;
  border-color:#5ea1a1;;
  border-top-color:#d6f2f3;
  border-bottom-color:#007171; 
}

.skin_perka .light_blue:hover {
  background-color:#dcf4f4;
}

.skin_perka .button.light_blue.active,
.skin_perka .button.light_blue:active,
.skin_perka .button.light_blue:active:hover,
.skin_perka .button.light_blue.active:hover {
  background-color:#bdd5d5;
  border-bottom-color:#d6f2f3; 
} 

.skin_perka .button:hover,
.skin_perka .button.orage:hover,
.skin_perka .button.blue:hover,
.skin_perka .button.green:hover,
.skin_perka .button.light_blue:hover {
  border-bottom-color:#333;
}

.skin_perka .button.active,
.skin_perka .button:active,
.skin_perka .button.orage.active
.skin_perka .button.orage:active,
.skin_perka .button.blue.active
.skin_perka .button.blue:active,
.skin_perka .button.green.active,
.skin_perka .button.green:active,
.skin_perka .button.light_blue.active,
.skin_perka .button.light_blue:active {
  border-top-color:#333;
}

/* link - default */
.skin_perka .link {
  font-size:16px;
  font-family:freight-sans-pro,sans-serif;
  font-weight:400;
  color:#666;
  line-height:34px;
  text-decoration:underline;
}

.skin_perka .link.large {
  line-height:44px;
}

.skin_perka .link.small {
  line-height:32px;
}

.skin_perka .link:hover {
  color:#333;
}

.skin_perka .link.orange {
  color:#cf5200;
  background:none;
}

.skin_perka .link.orange:hover {
  color:#b44814;
}

.skin_perka .link.blue {
  color:#066;
  background:none;
}

.skin_perka .link.blue:hover {
  color:#033;
}

.skin_perka .link.green {
  color:#4d6200;
  background:none;
}

.skin_perka .link.green:hover {
  color:#374401;
}

.skin_perka .link.light_blue {
  color:#066;
  background:none;
}

.skin_perka .link.light_blue:hover {
  color:#033;
}

/* text field - defaults */
.skin_perka .text_field {
  font-family:freight-sans-pro,sans-serif;
  font-size:16px;
  font-weight:400;
  color:#333;
}

.skin_perka .text_field .text_wrapper {
  border-radius:4px;
  border:1px solid #666;
}

.skin_perka .text_field input {
  font-size:17px;
  line-height:20px;
  margin:0;
  padding:8px 0;
  vertical-align:middle;
}

.skin_perka .text_field input::-webkit-input-placeholder {
  font-family:freight-text-pro,serif;
  font-style:italic;
  color:#999;
  font-size:18px;
}

.skin_perka .text_field input:-moz-placeholder{
  font-family:freight-text-pro,serif;
  font-style:italic;
  color:#999;
  font-size:18px;
}

.skin_perka .text_field input:-ms-input-placeholder {  
  font-family:freight-text-pro,serif;
  font-style:italic;
  color:#999;
  font-size:18px;
}

.skin_perka .text_field .text_wrapper.focused {
  outline:5px auto #999;
  outline-offset:-4px;
  -webkit-transition: outline ease-in-out .15s;
  transition:outline ease-in-out .15s;
}

.skin_perka .text_field > label > span {
  margin-bottom:10px;
}

/* text field - size */
.skin_perka .text_field.large input {
  font-size:23px;
  line-height:28px;
}

.skin_perka .text_field.large input::-webkit-input-placeholder {
  font-size:24px;
}

.skin_perka .text_field.large input:-moz-placeholder{
  font-size:24px;
}

.skin_perka .text_field.large input:-ms-input-placeholder {  
  font-size:24px;
}

.skin_perka .text_field.large > label > span {
  text-transform:uppercase;
  font-size:15px;
}

.skin_perka .text_field.small .text_wrapper {
  padding:0 12px;
}

.skin_perka .text_field.small input {
  font-size:17px;
  padding:6px 0;
}

.skin_perka .text_field.small input::-webkit-input-placeholder {
  font-size:17px;
}

.skin_perka .text_field.small input:-moz-placeholder{
  font-size:17px;
}

.skin_perka .text_field.small input:-ms-input-placeholder {  
  font-size:17px;
}

.skin_perka .text_field.small > label > span {
  display:inline-block;
  margin-bottom:0;
  margin-right:10px;
}

/* text field - error */
.skin_perka .text_field.error .text_wrapper,
.skin_perka .text_field.error .text_wrapper.focused {
  outline:5px auto #fd7753;
  outline-offset:-4px;
  border-color:#ff4200;
  -webkit-transition: outline ease-in-out .15s;
  transition:outline ease-in-out .15s;
}

.skin_perka .text_field.error > label > span {
  font-weight:600;
  font-style:normal;
  color:#da4125;
}

/* checkbox */
.skin_perka .checkbox {
  font-family:freight-sans-pro,sans-serif;
  font-size:16px;
  font-weight:400;
  color:#333;
}

.skin_perka .checkbox > label {
  display:inline-block;
  position:relative;
  cursor:pointer;
}

/* checkbox - restyling */
.skin_perka .checkbox input {
  display:inline-block;
  position: absolute;
  left:-10px;
  top:3px;
  width:auto;
  height:28px;
  cursor:pointer;
  opacity: 0;
}

.skin_perka #checked-failover:checked + div:before,
.skin_perka .checkbox input + div:before {
  content:"";
  display:inline-block;
  position:relative;
  vertical-align:middle;
  height:28px;
  width:28px;
  background:url(./images/checkbox.png) transparent 0 2px no-repeat;
}

.skin_perka #checked-failover:checked + div:before,
.skin_perka .checkbox label:hover input + div:before {
  background-position: 0 -26px;
}

.skin_perka #checked-failover:checked + div:after,
.skin_perka .checkbox input:checked + div:after {
  content: "";
  position: absolute;
  background: url(./images/checkbox.png) transparent 0 -112px no-repeat;
  top:3px;
  left:0;
  width:28px;
  height:28px;
}

.skin_perka .checkbox .checkbox_wrapper span {
  vertical-align:middle;
  margin-left:10px;
}

/* radio group */
.skin_perka .radio_group {
  font-family:freight-sans-pro,sans-serif;
  font-size:16px;
  font-weight:400;
  color:#333;
}

.skin_perka .radio_group .radio_group_wrapper > label {
  display:block;
  margin-bottom:10px;
  position:relative;
  cursor:pointer;
}

/* radio group - restyling */
.skin_perka .radio_group input {
  display:inline-block;
  position: absolute;
  left:-10px;
  top:3px;
  width:auto;
  height:28px;
  cursor:pointer;
  opacity: 0;
}

.skin_perka #checked-failover:checked + div:before,
.skin_perka .radio_group input + div:before {
  content:"";
  display:inline-block;
  position:relative;
  vertical-align:middle;
  height:28px;
  width:28px;
  background:url(./images/radio.png) transparent 0 2px no-repeat;
}

.skin_perka #checked-failover:checked + div:before,
.skin_perka .radio_group .radio_group_wrapper label:hover input + div:before {
  background-position: 0 -26px;
}

.skin_perka #checked-failover:checked + div:before,
.skin_perka .radio_group input:checked + div:before,
.skin_perka .radio_group .radio_group_wrapper label:hover input:checked + div:before {
  background-position: 0 -82px;
}

.skin_perka .radio_group .radio_group_wrapper span {
  vertical-align:middle;
  margin-left:10px;
}

/* pulldown */
.skin_perka .pulldown > label {
  position:relative;
}

.skin_perka .pulldown > label > span {
  display:block;
}

.skin_perka .pulldown .menu label {
  height: 34px;
  display:inline-block;
  overflow: hidden;
  background:url(./images/pulldown_arrow.png) no-repeat right #fff;
  border:1px solid #c1c1c1;
  border-radius:4px;
  border-top-color:#ebebeb;
  border-bottom-color:#989898; 
}

.skin_perka .pulldown select {
  display:inline-block;
  background: transparent;
  padding:6px;
  border: 0;
  border-radius: 0;
  font-size: 16px;
  line-height:20px;
  height: 34px;
  outline:0;
  -webkit-appearance: none;
}


/* glyph */
.skin_perka .button .glyph.left {
  margin-left:-2px;
}

.skin_perka .button.small .glyph.left {
  margin-left:-4px;
}

.skin_perka .button .glyph.right {
  margin-right:-2px;
}

.skin_perka .button.small .glyph.right {
  margin-right:-4px;
}

.skin_perka .text_field.small .glyph.left {
  margin-left:-6px;
}

.skin_perka .text_field.small .glyph.right {
  margin-right:-6px;
}

/* error */
.skin_perka .error_message {
  font-family:freight-text-pro,serif;
  font-style:italic;
  font-weight:400;
  color:#da4125;
}

.skin_perka .error_message.right {
  display:inline-block;
  margin:0 10px;
}

.skin_perka .error_message.below {
  display:block;
  margin:10px 0;
}

