a.button {
  position:relative;
  height:28px;
  font-size:14px;
  font-family:Helvetica;
  color:#333;
  border:1px solid #666;
  line-height:30px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color:#eee;
  display: inline-block;
  vertical-align:top;
  text-decoration:none;
}

.button.disabled {
  color:#aaa;
}

.button.has_border.disabled {
  border-color:#999;
}

.button.has_border:hover {
  background-color:#ddd;
  border-color:#222;
}

.button.has_border.disabled:hover {
  background-color:#fff;
  border-color:#999;
  cursor:default;
}

.button.has_border.active {
  background-color:#ccc;
}

.button input[type=submit] {
  border:1px solid transparent;
  background-color:transparent;
  position:absolute;
  top:-5px;
  right:-5px;
  bottom:-5px;
  left:-5px;
  cursor:pointer;
}
