.button {
  font-size:16px;
  font-family:Helvetica;
  font-weight:normal;
  display: inline-block;
  padding:6px 12px;
  vertical-align:middle;
  text-decoration:none;
  cursor:pointer;
}

.button:focus,
.button.focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.button.disabled {
  cursor:not-allowed;
  pointer-events:none;
  background-color:#ccc;
  border-color:#ccc;
  color:#fff;
}