.button {
  font-size:16px;
  font-family:Helvetica;
  font-weight:normal;
  color:#333;
  background-color:#eee;
  border:1px solid #666;
  line-height:1.25;
  display: inline-block;
  padding:6px 12px;
  border-radius:4px;
  vertical-align:middle;
  text-decoration:none;
  cursor:pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:focus,
.button.focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.button:hover, 
.button:link,
.button:visited {
  background-color:#ddd;
  border-color:#222;
}

.button:active,
.button.active {
  background-color:#ccc;
}

.button.disabled {
  cursor:not-allowed;
  pointer-events:none;
  background-color:#ccc;
  border-color:#ccc;
  color:#fff;
}