.checkbox label {
  font-size:16px;
  font-family:Helvetica;
  font-weight:normal;
  display: inline-block;
  line-height:20px;  
  cursor: pointer;  
  position: relative;
  white-space:nowrap;  
}

.checkbox > label > span {
  vertical-align:middle;
}
   
.checkbox .checkbox_wrapper {
  display:inline-block;
}