    .checkbox label {
      font-size:16px;
      font-family:Helvetica;
      font-weight:normal;
      display: inline-block;  
      cursor: pointer;  
      position: relative;
      white-space:nowrap;  
    }

    .checkbox label:hover input + i {
      background-color: #eee;
      border-color: #222;
    }

    .checkbox input {
      display:none;
    }

    .checkbox input + i {
      display:inline-block;
      width:20px;
      height:20px;
      border:1px solid #666;
      position:relative;
      top:5px;
    }

    .checkbox input:checked + i:before {
      content:"";
      background-color:#222;
      display:inline-block;
      width:14px;
      height:14px;
      position:absolute;
      left:3px;
      top:3px;
    }

    .checkbox input.checked + i:before {
      content:"";
      background-color:#222;
      display:inline-block;
      width:14px;
      height:14px;
      position:absolute;
      left:3px;
      top:3px;
    }

    .checkbox label > span {
      padding-left:5px;
    }