.glyph {
  position:absolute;
  top:0;
  left:0;
  margin-top:1px;
  margin-left:2px;
  background-repeat:no-repeat;
}

.glyph.right {
  right:0;
  left:auto;
  margin-left:0;
  margin-right:2px;
}

.glyph_wrapper {
  display:block;
  position:relative;
  line-height:30px;
  height:28px;
}

.glyph_wrapper.has_glyph > .content {
  padding-left:3px;
}

.glyph_wrapper.has_glyph_right > .content {
  padding-right:3px;
}
