.pulldown > label {
  position:relative;
}

.pulldown > label > span {
  display:block;
}

.pulldown > label:after {
  content:"";
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #222;
  position:absolute;
  top:6px;
  right:11px;
  pointer-events:none;
}

.pulldown select {
  font-size:16px;
  font-family:Helvetica;
  font-weight:normal;
  color:#333;
  background-color:#eee;
  border:none;
  line-height:1.25;
  display: inline-block;
  padding:6px 32px 6px 12px;
  vertical-align:middle;
  text-decoration:none;
  cursor:pointer;
  margin:0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.pulldown .pulldown_wrapper {
  display:inline-block;
  background-color:#eee;
  border:1px solid #666;
  border-radius:4px;
  padding:0 10px;
}
