.pulldown {
  position:relative;
  height:30px;
  display: inline-block;
}

.pulldown.placeholder {
  font-style:italic;
}

.pulldown .button:link,
.pulldown .button:active,
.pulldown .button:hover,
.pulldown .button:visited {
  color:#333;
  text-decoration:none;
}
