.radio_group label {
  font-size:16px;
  font-family:Helvetica;
  font-weight:normal;
  display: inline-block;
  line-height:20px;  
  cursor: pointer;  
  position: relative;
  white-space:nowrap;  
}

.radio_group > label > span {
  vertical-align:middle;
}

.radio_group .radio_group_wrapper {
  display:inline-block;
}