.scroller {
  outline: none;
  position:relative;
}

.scroller .content_wrapper{
  margin-right:13px;
}

.scroller.disabled > .content_wrapper{
  margin-right:1px;
}

.scroller .content {
  overflow:hidden;
  margin-right:9px;
}

.scroller.disabled > .content {
  margin-right:5px;
}

.scroller .tray {
  position:absolute;
  right:3px;
  top:3px;
  bottom:3px;
  width:10px;
  background-color:#eee;
}

.scroller.disabled > .tray {
  visibility:hidden;
}

.scroller .knob {
  position:absolute;
  right:1px;
  width:8px;
  cursor:move;
}

.scroller .knob_top {
  position:absolute;
  right:0;
  left:0;
  height:11px;
  background-color:#555;
}

.knob_middle {
  position:absolute;
  right:0;
  left:0;
  top:10px;
  bottom:10px;
  background-color:#555;
}

.knob_bottom {
  position:absolute;
  right:0;
  left:0;
  bottom:0;
  height:10px;
  background-color:#555;
}
