.text_field {
  font-size:16px;
  font-family:Helvetica;
  font-weight:normal;
}

.text_field > label > span {
  display:block;
}

.text_field input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  border: none;
  outline:none;
  padding:10px 0;
  background:#fff;
  font-size:16px;
}

.text_field input.disabled {
  filter:alpha(opacity=60);
  opacity:0.6;
}

.text_field .text_wrapper {
  border: 1px solid #666;
  display:inline-block;
  padding:0 10px;
}

.text_field .text_wrapper.focus {
  // Default
  outline: thin dotted #333;
  // Webkit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}