.text_field {
  position:relative;
  border:1px solid #666;
  width:200px;
  height:28px;
  background-color:#fff;
  display: inline-block;
  vertical-align:top;
}

.text_field.disabled {
  filter:alpha(opacity=60);
  opacity:0.6;
}

.text_field .input_wrapper {
  position:absolute;
  left:5px;
  right:5px;
  top:5px;
}

.text_field input {
  width:100%;
  border:0;
  outline:none;
  font-size:13px;
  margin:0;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}
